<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="sidebar-header">
      <div class="user-info">
        <div class="user-avatar">
          <mat-icon>account_circle</mat-icon>
        </div>
        <div class="user-details">
          <div class="user-email">{{ auth.currentUser()?.email }}</div>
          <div class="user-role">
            @if (auth.isAdmin()) {
            <mat-chip class="role-chip admin">
              <mat-icon>admin_panel_settings</mat-icon>
              {{ 'ADMIN_PANEL.ROLES.ADMIN' | translate }}
            </mat-chip>
            }
          </div>
        </div>
      </div>

      <div class="language-selector">
        <button mat-icon-button [matMenuTriggerFor]="langMenu" class="lang-button">
          <span class="flag-icon">{{ getCurrentLanguage()?.flag }}</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>

        <mat-menu #langMenu="matMenu">
          <button
            mat-menu-item
            *ngFor="let lang of languages"
            (click)="switchLanguage(lang.code)"
            [class.active-lang]="currentLang === lang.code"
          >
            <span class="flag-icon">{{ lang.flag }}</span>
            <span>{{ lang.name }}</span>
            <mat-icon *ngIf="currentLang === lang.code" class="check-icon">check</mat-icon>
          </button>
        </mat-menu>
      </div>
    </div>

    <mat-nav-list>
      <div class="nav-section-title">eBolnica Admin</div>

      <a mat-list-item routerLink="/admin/users" routerLinkActive="active">
        <mat-icon matListItemIcon>groups</mat-icon>
        <span matListItemTitle>Korisnici</span>
      </a>

      <a mat-list-item routerLink="/admin/settings" routerLinkActive="active">
        <mat-icon matListItemIcon>settings</mat-icon>
        <span matListItemTitle>{{ 'ADMIN_PANEL.MENU.SETTINGS' | translate }}</span>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/auth/logout" routerLinkActive="active" class="logout-item">
        <mat-icon matListItemIcon>logout</mat-icon>
        <span matListItemTitle>{{ 'ADMIN_PANEL.MENU.LOGOUT' | translate }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
