<!-- Public Layout Shell with Toolbar -->
<mat-toolbar color="primary" class="public-toolbar">
  <button mat-icon-button routerLink="/" class="brand-button">
    <mat-icon>local_hospital</mat-icon>
  </button>
  <span class="brand-name">eBolnica</span>

  <span class="spacer"></span>

  <ng-container *ngIf="!isAuthenticated(); else userMenu">
    <button mat-button routerLink="/auth/login">
      <mat-icon>login</mat-icon>
      Prijava
    </button>
    <button mat-button routerLink="/auth/register">
      <mat-icon>person_add</mat-icon>
      Registracija
    </button>
  </ng-container>

  <ng-template #userMenu>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
      {{ currentUser()?.email }}
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="dashboardRoute()">
        <mat-icon>dashboard</mat-icon>
        <span>Moj panel</span>
      </button>
      <button mat-menu-item routerLink="/admin" *ngIf="currentUser()?.isAdmin">
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Admin panel</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="/auth/logout">
        <mat-icon>logout</mat-icon>
        <span>Odjava</span>
      </button>
    </mat-menu>
  </ng-template>
</mat-toolbar>

<div class="public-content">
  <router-outlet></router-outlet>
</div>
