# IDE
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Build output
bin/
obj/
Debug/
Release/

# Frontend
node_modules/
dist/
.angular/

# NuGet
packages/
*.nupkg
*.snupkg

# Logs & cache
*.log
*.cache
*.sqlite

# OS files
.DS_Store
Thumbs.db

# User-specific
*.user
*.rsuser
*.suo

