<div class="modal-backdrop" *ngIf="show" (click)="onCancel()"></div>

<div class="modal d-block" *ngIf="show" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" (click)="$event.stopPropagation()">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Confirm Action</h5>
        <button type="button" class="btn-close" (click)="onCancel()"></button>
      </div>

      <div class="modal-body">
        <p>{{ message }}</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        <button class="btn btn-danger" (click)="onConfirm()">Confirm</button>
      </div>

    </div>
  </div>
</div>
