<div class="max-w-3xl mx-auto mt-10 p-6 shadow-md rounded-2xl">
  <h2 class="text-2xl font-semibold mb-6 text-gray-800">Doctor Profile</h2>

  <section class="mb-6">
    <h3 class="text-lg font-medium text-gray-700 mb-3">Basic Information</h3>
    <div class="space-y-2">
      <div class="font-semibold text-gray-600">Full Name: {{doctor?.firstName}} {{doctor?.lastName}}</div>
      <div class="font-semibold text-gray-600">Birth date: {{doctor?.birthDate  | date:'dd.MM.yyyy'}}</div>
      <div class="font-semibold text-gray-600">Specialization: {{doctor?.specialization}}</div>
      <div class="font-semibold text-gray-600">License Number: {{doctor?.licenseNumber}}</div>
    </div>
  </section>

  <section class="mb-6">
    <h3 class="text-lg font-medium text-gray-700 mb-3">Contact Information</h3>
    <div class="space-y-2">
      <div class="font-semibold text-gray-600">Email: {{doctor?.email}}</div>
      <div class="font-semibold text-gray-600">Phone: {{doctor?.phoneNumber}}</div>
      <div class="font-semibold text-gray-600">Address: {{doctor?.address}}</div>
    </div>
  </section>

  <div class="flex justify-end">
    <button (click)="openEditForm()" class="px-4 py-2 bg-gray-200 rounded-lg hover:bg-gray-300">Edit</button>
  </div>
</div>

