.error-feedback{
    position: relative;
    left: 5%;
}
html, body {
  height: 100%;
  margin: 0;
}
.login-container {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 20%; 
  background-color: white;
  border-radius: 1%;
  justify-content: center;
  align-items: center; 
}
.form-control{
    position: relative;
    width: 90%;
    left: 5%;
}
.btn{
    position: relative;
    width: 30%;
    left: 5%;
}
