<div class="page-header">
  <h1>Pacijenti</h1>
  <span class="count">{{ totalCount }} pronađeno</span>
</div>

<div class="filters">
  <mat-form-field appearance="outline">
    <mat-label>Ime</mat-label>
    <input matInput [(ngModel)]="filters.firstName" (input)="onFilterChange()" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Prezime</mat-label>
    <input matInput [(ngModel)]="filters.lastName" (input)="onFilterChange()" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Spol</mat-label>
    <mat-select [(ngModel)]="filters.gender" (selectionChange)="onFilterChange()">
      <mat-option value="">Svi</mat-option>
      <mat-option value="Male">Muški</mat-option>
      <mat-option value="Female">Ženski</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Krvna grupa</mat-label>
    <mat-select [(ngModel)]="filters.bloodType" (selectionChange)="onFilterChange()">
      <mat-option value="">Sve</mat-option>
      <mat-option value="A+">A+</mat-option>
      <mat-option value="A-">A-</mat-option>
      <mat-option value="B+">B+</mat-option>
      <mat-option value="B-">B-</mat-option>
      <mat-option value="AB+">AB+</mat-option>
      <mat-option value="AB-">AB-</mat-option>
      <mat-option value="O+">O+</mat-option>
      <mat-option value="O-">O-</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Godina rođenja</mat-label>
    <input matInput type="number" [(ngModel)]="filters.birthYear" (input)="onFilterChange()" />
  </mat-form-field>
</div>

@if (isLoading) {
  <app-fit-table-skeleton [rows]="5" [columns]="6"></app-fit-table-skeleton>
} @else {
  <table mat-table [dataSource]="patients" class="patients-table">
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>Ime</th>
      <td mat-cell *matCellDef="let p">{{ p.firstName }}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Prezime</th>
      <td mat-cell *matCellDef="let p">{{ p.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="dateOfBirth">
      <th mat-header-cell *matHeaderCellDef>Datum rođenja</th>
      <td mat-cell *matCellDef="let p">
        {{ p.dateOfBirth ? (p.dateOfBirth | date:'dd.MM.yyyy') : '-' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef>Spol</th>
      <td mat-cell *matCellDef="let p">{{ p.gender || '-' }}</td>
    </ng-container>

    <ng-container matColumnDef="recordNumber">
      <th mat-header-cell *matHeaderCellDef>Broj kartona</th>
      <td mat-cell *matCellDef="let p">{{ p.recordNumber || '-' }}</td>
    </ng-container>

    <ng-container matColumnDef="bloodType">
      <th mat-header-cell *matHeaderCellDef>Krvna grupa</th>
      <td mat-cell *matCellDef="let p">{{ p.bloodType || '-' }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Akcije</th>
      <td mat-cell *matCellDef="let p">
        <button mat-stroked-button color="primary" (click)="openMedicalRecord(p.id)">
          Otvori karton
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="pagination" *ngIf="totalPages > 1">
    <button mat-stroked-button (click)="goToPage(currentPage - 1)" [disabled]="currentPage <= 1">
      Prethodna
    </button>
    <span>Stranica {{ currentPage }} / {{ totalPages }}</span>
    <button mat-stroked-button (click)="goToPage(currentPage + 1)" [disabled]="currentPage >= totalPages">
      Sljedeća
    </button>
  </div>
}
