.error-feedback{
    color: red;
    position: relative;
    left: 5%;
}
html, body {
  height: 100%;
  margin: 0;
}

.page-container {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;    
  background-color: white;
  border-radius: 1%;
}
.form-control{
    position: relative;
    width: 90%;
    left: 5%;
}
.btn{
    position: relative;
    width: 30%;
    left: 5%;
}